# API Keys 
**/**/.env
# Pycharm files
**/**/.idea/
# Data Files
**/**/llamaindex-docs/
**/**/llamaindex-docs-temp/
# Virtual Env.
**/**/.venv/
# Workspace VS code
**/**/*code-workspace
# Jypiter 
**/**/.ipynb_checkpoints/
# Data Bases
**/**/.qdrant_mm_db/
Templates
**/**/Template.ipynb
