# API Keys 
**/**/.env
# Pycharm files
**/**/.idea/
# Data Files
**/**/llamaindex-docs/
**/**/llamaindex-docs-temp/
# Virtual Env.
**/**/.venv/
# Jypiter 
**/**/.ipynb_checkpoints/
# Data Bases
**/**/.qdrant_mm_db/
# Documents 
LLM Frameworks Tutorials/LlamaIndex Tutorials/Tutorials from LlamaIndex/LlamaIndex-Tutorials-Gen/Docs/
