[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#python-dotenv = "*"
#llama-index = "*"
#openai = "*"
#black = "*"
python-dotenv = "*"
llama-index = "*"
openai = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.12"
