jupyter lab
python-dotenv
langchain
langchain docarray tiktoken
langchainhub
langchain_experimental
pydantic==1.10.8
docarray==0.40.0
faiss-cpu # only for Linux
grandalf
unstructured
"unstructured[md]" # only for Linux
tqdm
jq # only for Linux
pypdf
rapidocr-onnxruntime